# **Functions**

> **Key skills demonstrated**
> - Defining functions
> - for loop
> - f-string
> - **if, else** statements 
>
> **Methods & Functions used**\
>\
>`.type()` `f-string` `len()` `sorted()`\
> `rstrip()` `.append()` `unique()` `set()`

## **Function 1**

In [27]:
def sum_mult(a, b, c):
    d = (a + b) * c
    return d

In [28]:
print(sum_mult(5, 6, 7))

77

In [66]:
print(sum_mult(12,24,38))

1368

Introducing letters into the function

In [30]:
print(sum_mult('a', 'b', 7))

ababababababab

***

## **Function 2**

In this function, if any of the parameters is a string, it returns the string: **'Only numbers should be used. Please try again.'**

In [67]:
def error_catching(a, b, c):
    if (type(a) == str) or (type(b) == str) or (type(c) == str):
        return 'Only numbers should be used. Please try again'
    else:
        result = (a + b) * c
    return result

In [32]:
print(error_catching(5, 6, 4))

44

In [69]:
print(error_catching(5, 6, "this_isn't_a_number!"))

Only numbers should be used. Please try again

***

## **Function 3**

Another function which takes a list of numbers as its parameter and calculates the sum of the squares of the list. Using list `a` given below as a parameter, print the result.

In [70]:
a = [2, 5, 3]

In [71]:

def sq_list(list1):
    total = 0
    for i in list1:
        total += i * i
    return total

In [73]:
print(sq_list(a))    # Testing the function

38

***

## **Function 4**

Loading a list of 100 names from the file `data.py`

In [111]:
names_list = []
with open('Portfolio/Data/data.txt') as f:
    names_list = [line.rstrip() for line in f]
names_list[:5]

['Lindsey', 'Charlene', 'Jenna', 'Carol', 'Kayleigh']

In [112]:
# Checking the first and last 5 names on the list
print(names_list[:5])
print(names_list[-5:])

['Lindsey', 'Charlene', 'Jenna', 'Carol', 'Kayleigh']
['Marion', 'Jeremy', 'Stephanie', 'Ann', 'Nicole']

This function takes two parameters, called `users` and `name`, where `users` is a list and `name` is a string. The function prints out the first item of `users` and also prints out `name` on separate lines.

In [113]:
def add_user(users, name):
    print(users[0])
    print(name)

In [114]:
# Test with `names_list` as `users` and `Millie` as `name`
add_user(names_list, 'Millie')

Lindsey
Millie

The function is now adapted to append the `name` to `users`, and also `print()` the message **'`{name}` added successfully!'**

In [115]:
users = []

def add_user(users, name):
    users.append(name)
    print(f'{name} added successfully')

In [116]:
# Testing the function
members = ['Helen', 'Sam']
add_user(members, 'John')

John added successfully

***

## **Function 5**

Defining a function called `unique` which takes a list and returns a `set()` of the unique values in that list:

In [83]:
def unique(user_list):
    return set(user_list)

In [87]:
# Testing the function
unique(['Bill', 'Betty', 'Bill', 'Arthur', 'Mildred'])

{'Arthur', 'Betty', 'Bill', 'Mildred'}

***

## **Function 6**

Calling the `unique()` function using `names_list` and assigning it to the variable `names_set`

In [141]:
names_set = unique(names_list)

In [142]:
print(names_set)

{'Jade', 'Kyle', 'Beverley', 'Gail', 'Frances', 'Leigh', 'Ryan', 'Judith', 'Kayleigh', 'Ricky', 'Jessica', 'Jeremy', 'Teresa', 'Jenna', 'Donald', 'Gareth', 'Jamie', 'Mohamed', 'Angela', 'Rachael', 'James', 'Adrian', 'Jake', 'Kathryn', 'John', 'Jennifer', 'Charlene', 'Joanne', 'Amy', 'Jack', 'Justin', 'Georgina', 'Carol', 'Dale', 'Francis', 'Kathleen', 'Beth', 'Darren', 'Jeffrey', 'George', 'Albert', 'Graham', 'Marian', 'Leon', 'Charles', 'Gerard', 'Shirley', 'Nicole', 'Jean', 'Abigail', 'Brian', 'Ann', 'Dorothy', 'Marion', 'Stewart', 'Simon', 'Danielle', 'Marilyn', 'Alan', 'Gavin', 'Clive', 'Ellie', 'Lee', 'Gillian', 'Colin', 'Brett', 'Kelly', 'Christian', 'Sharon', 'Lindsey', 'Christine', 'Sian', 'Shaun', 'Sean', 'Josh', 'Carole', 'Stephanie', 'Robert', 'Karen', 'Lynne', 'Grace', 'Paula', 'Andrew', 'Samantha', 'Elliot', 'Dean', 'Adam', 'Hugo'}

Creating a function to calculate how many values in a list are duplicated:

In [147]:
def duplicate_count(dupe_list):
    difference = len(names_list) - len(names_set)
    return difference

In [148]:
# Testing the function
duplicate_count(names_list)

12

***

## **Function 7**

Creating a function called `names_dict`, which takes a list and returns a dictionary where:
- there is a `key` for each unique first character found in the list   
- the `values` are a list of the entries which begin with the character used for the `key`
- the lists of entries are ordered alphabetically

In [149]:
# Create a list of names
test_list = ['Alan', 'Ann', 'Christine', 'Jeffrey', 'Stewart', 'Simon', 'Robert', 'Ellie', 'Dorothy', 'Joanne', 'Jack']

In [150]:
def names_dict(names):
    list_initial = []                   # Create an empty list
    for name in names:
        list_initial.append(name[0])
    
    keys = list(unique(list_initial))   #Getting the unique values for the list and converting them to a list
    keys.sort()                         #Sorting them alphabetical
    return keys

In [151]:
# Testing the function
list(names_dict(test_list))

['A', 'C', 'D', 'E', 'J', 'R', 'S']

Expanding on the function above by creating a dictionary where the keys are the letters in the list `keys`, and the values are lists of names that begin with that letter. Then sort them alphabetically:

In [157]:
def names_dict(names):
    list_initial = []
    for name in names:
        list_initial.append(name[0])
        
    keys = list(unique(list_initial))   #Getting the unique values for the list and converting them to a list
    keys.sort()                         #Sorting them alphabetical
    
    new_names_dict = dict()
    
    for key in keys:
        new_names_list = []
        for name in names:
            if name[0] == key:
                new_names_list.append(name)
     
    
        new_names_dict[key] = sorted(new_names_list)
    
    return(new_names_dict)

In [99]:
# Testing the code
names_dict(test_list)

{'A': ['Alan', 'Ann'],
 'C': ['Christine'],
 'D': ['Dorothy'],
 'E': ['Ellie'],
 'J': ['Jack', 'Jeffrey', 'Joanne'],
 'R': ['Robert'],
 'S': ['Simon', 'Stewart']}

***

## **Function 8**

Assigning to `all_names_dict` the value returned from calling `names_dict` with `names_list`:

In [100]:
all_names_dict = names_dict(test_list)

Defining a function called `unique_names_dict` which takes a list and returns a dictionary such as the one created above, but instead of lists the values are sets (of unique entries):

In [160]:
def unique_names_dict(names):
    new_list = []
    for name in names:
        new_list.append(name[0])

    keystwo = list(unique(new_list))
    keystwo.sort()
    
    unique_dict_names = dict()
    
    for key in keystwo:
        newer_name_list = []
        for name in names:
            if name[0] == key:
                newer_name_list.append(name)
                
        unique_dict_names[key] = sorted(set(newer_name_list))
        
    return(unique_dict_names)

In [161]:
# Testing the code 
unique_names_dict(names_list)

{'A': ['Abigail',
  'Adam',
  'Adrian',
  'Alan',
  'Albert',
  'Amy',
  'Andrew',
  'Angela',
  'Ann'],
 'B': ['Beth', 'Beverley', 'Brett', 'Brian'],
 'C': ['Carol',
  'Carole',
  'Charlene',
  'Charles',
  'Christian',
  'Christine',
  'Clive',
  'Colin'],
 'D': ['Dale', 'Danielle', 'Darren', 'Dean', 'Donald', 'Dorothy'],
 'E': ['Ellie', 'Elliot'],
 'F': ['Frances', 'Francis'],
 'G': ['Gail',
  'Gareth',
  'Gavin',
  'George',
  'Georgina',
  'Gerard',
  'Gillian',
  'Grace',
  'Graham'],
 'H': ['Hugo'],
 'J': ['Jack',
  'Jade',
  'Jake',
  'James',
  'Jamie',
  'Jean',
  'Jeffrey',
  'Jenna',
  'Jennifer',
  'Jeremy',
  'Jessica',
  'Joanne',
  'John',
  'Josh',
  'Judith',
  'Justin'],
 'K': ['Karen', 'Kathleen', 'Kathryn', 'Kayleigh', 'Kelly', 'Kyle'],
 'L': ['Lee', 'Leigh', 'Leon', 'Lindsey', 'Lynne'],
 'M': ['Marian', 'Marilyn', 'Marion', 'Mohamed'],
 'N': ['Nicole'],
 'P': ['Paula'],
 'R': ['Rachael', 'Ricky', 'Robert', 'Ryan'],
 'S': ['Samantha',
  'Sean',
  'Sharon',
  'Shaun',
  'Shirley',
  'Sian',
  'Simon',
  'Stephanie',
  'Stewart'],
 'T': ['Teresa']}

***

## **Function 9**

Exploring the function `unique_count()` which takes a single character and a list, and returns the number of unique entries in the list which begin with that character:
- if there are no matching items in the list, return `0` and print `None found`

In [107]:
def unique_count(char, names):
    new_dictionary = unique_names_dict(names)
    
    number_of_values = len(new_dictionary.get(char, []))
    
    if len(new_dictionary.get(char, [])) == 0:
        return ('None found')
    
    return number_of_values

In [108]:
# Testing the code
unique_count('J', names_list)

16

In [109]:
# Testing the code
unique_count('I', names_list)

'None found'